body
{
    background-color:antiquewhite;
}

#center
{
    text-align: center;
    vertical-align: middle; 
    padding: 250px;
}

#title
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
}

input
{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-radius: 8px;
    padding: 5px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    background-color: mediumaquamarine;
    color: white;
    filter: drop-shadow(0px 5px 3px rgb(170, 170, 170));
    border: none;
    width: 20%;
}

::placeholder
{
    color:white;
    opacity: 75%;
}

#submit
{
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 7px 2px;
    cursor: pointer;
    border-radius: 16px;
    filter: none;
    width: auto;
}